@model Domain.League

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<h2 class="text-center">Delete League</h2>
<br />
<br />

<h4 class="text-danger">Are you sure you want to delete this?</h4>
<div>
    <hr />
    <table class="table table-hover table-striped table-borderless text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>

            <td>
                @if (!string.IsNullOrEmpty(Model.Logo))
                {
                    <img src="@Url.Content(Model.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
            <input type="submit" value="Delete" class="btn btn-primary" />

        </div>
    }
</div>
